.App {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.editor-pane {
  background-color: darkgray;
  width: 50%;
}

.editor-pane textarea {
  width: 100%;
  min-height: 450px;
}

.preview-pane {
  background-color: darkseagreen;
  width: 50%;
}